body {
  background-image: url(backg.jpg);
  background-color: aqua;
	

}

.container {
  background-color: #00ac9c;
  width: 90%;
  height: 500px;
  margin: auto;
	opacity: 0.9;
}

.img {
	margin: auto;
	width: 50%;
	display: block;
}

.img2 {
	margin: auto;
	display: block;
}

p {
	text-align: center;
	color: #fffdf4;
	font-family: Helvetica;
	font-size: .75rem;
	padding: 1%;
}

h1 {
	font-family: Snell Roundhand;
	color: #55300d;
	font-size: 1.5rem;
}

header {
  	background-image: url(header.jpg);
	background-color: green;
  width: 100%;
  margin: auto;
}

main {
	text-align: center;
	color: #fffdf4;
	font-family: Helvetica;
	font-size: .75rem;
}

article {
	margin: auto;
}
